<% include ./partials/header %>

<h1>REGISTER</h1>

<form method="post" action="/register">
    <input name="username" type="text" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <button class = "btn btn-primary">Sign Up!</button>
</form>


<% include ./partials/footer %>
